
.main-about{
 
    /* border: 1px solid white; */
    height: auto;
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
  
    background-color: black;
    
    box-shadow: rgba(128, 128, 128, 0.25) 0px 54px 55px, rgba(128, 128, 128, 0.12) 0px -12px 30px, rgba(128, 128, 128, 1) 0px 4px 6px, rgba(128, 128, 128, 0.17) 0px 12px 13px, rgba(128, 128, 128, 0.09) 0px -3px 5px;
     border-radius: 12px;

}

.about-content-wrapper{
    /* border: 1px solid red; */
    margin: 20px;
    margin-top: 100px;
    padding: 10px;

}

.about-content{
    margin: 30px;
}