.create_todo{
    border: 1px solid green;
    height: auto;

}
.create_todo_wrapper{
    border: 1px solid salmon;
    height:auto;
    margin: 10px;
}

#add-form{
    display: flex;
    flex-direction: column;

}